{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center">To Contribute</h1>
    <h2 class="text-center">സംഭാവന നല്‍കാന്‍</h2>
  </div>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group">
    <div class="panel panel-default">
      <div class="panel-heading">You can also contribute to Chief Minister's Fund:</div>
      <div class="panel-body">മുഖ്യമന്തിയുടെ ദുരിതാശ്വാസ നിധിയിലേക്ക് സംഭാവന ചെയ്യാം</div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Account number</th>
            <td>67319948232</td>
          </tr>
          <tr>
            <th>Name on Account</th>
            <td>Chief Minister's Distress Relief Fund</td>
          </tr>
          <tr>
            <th>Account Type</th>
            <td>Savings</td>
          </tr>
          <tr>
            <th>Bank</th>
            <td>SBI</td>
          </tr>
          <tr>
            <th>Branch</th>
            <td>City Branch, TVM</td>
          </tr>
          <tr>
            <th>IFS Code</th>
            <td>SBIN0070028</td>
          </tr>
          <tr>
            <th>SWIFT Code</th>
            <td>SBININBBT08</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer">
        <a href="https://donation.cmdrf.kerala.gov.in/">Donate to Chief Minister's Fund Online</a>
      </div>
      <div class="panel-body"> 
        <form class="panel-form" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <hr>
          <button type="submit" class="btn btn-primary pull-right">
            {% bootstrap_icon "star" %} Submit
          </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    window.onload = function() {
        $("#id_phone").attr('type', 'number');
    }
</script>
{% endblock %}
